.app-header {
    background-color: #f9f9f9;
    color: #222;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
